h1 {
  color: brown;
  font-size: 500%;
  font-family: monospace;
}

h2 {
  color:darkolivegreen
  font-size: 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}